body {
  background: $bgcolor;
  font-family: $fontcopy;
}

header {
	@include box_standard;
	@include rounded_standard;
	h1 {
		font-family: $fontheading;
		font-weight: normal;
		font-size: 1.5em;
	}
}

main {
	h2 {
		font-family: $fontheading;
		font-weight: normal;
		font-size: 1.3em;
	}
}

nav {
	@include box_custom(rgba(255,255,255,.7), solid 10px black, 20px, 40px);
	@include rounded_default(10px);
	ul {
		li {
			list-style: none;
			display: inline-block;
			padding-right: 20px;
			a {
				text-decoration: none;
			}
			a:link, a:visited {
				color: black;
			}
			a:hover, a:active {
				color: white;
				background: black
			}
		}
	}
}
